$gray-dis: rgba(157, 164, 189, 0.6);
$gray: #9DA4BD;
$hader-text: #303030;
$text: #555555;
$accent-color: #FF6C00;
$white: #FFFFFF;
$black: #000000;


    

    // Brakepoint

    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;

