:root{
    --main-light-color: #ffffff;
    --main-text-color: #555555;
    --label-color: #FF6C00;

}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-light-color);
    color: var(--main-text-color);
    font-size: 11px;
    font-weight: 600;
}

h1,h2,h3,h4,p{
    margin: 0;
}





.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* Header */

.container{
    width: 1170px;
    padding:0 15px ;
    margin: 0 auto;
    
}

.header-container{
    display: flex;
}
.header{
    background-color: black;
}

/* Navigation */
.nav-link{
    font-size: 12px;
        line-height: calc(16/12);
        letter-spacing: 0.1em;
    
        color: var(--main-light-color);
        
}

.nav-link:hover,
.nav-link:focus{
    color: var(--label-color);
    cursor: pointer;
}

/* social media */


/* BEST BARBERSHOP */
.best-barbershop-container{
    display: flex;
}
.best-barbershop{
    padding-top:120px ;
    padding-bottom: 120px;
}
.best-barbershop-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.best-barbershop-item:not(:last-child){
margin-right: 30px;

}

.best-barbershop-box{
    padding-left: 30px;
    padding-right: 100px;

}
.title{

}
.title-mb20{
margin-bottom: 20px;
}

.best-barbershop-text:not(:last-child){
    margin-bottom: 20px;
    
}

.best-barbershop-wrap-p{
    margin-bottom: 42px;
}

.orange-button{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}